* {
  margin: 0px;
  padding: 0px;
}

/* All File In Apply */
label {
  color: gray;
  font-size: 15px;
}

.container-home {
  padding-top: 6%;
  width: 100%;
  z-index: -1;
}

.color-gray {
  color: gray;
}

/* Loader */
.loader-box {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.813);
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

.loader-box img {
  width: 100px;
}

/* Nav Bar */
.nav-box {
  width: 100%;
  padding-top: 10px;
  background-color: #fff;
  box-shadow: #0000007d 0px 5px 20px 0px;
  position: fixed;
  z-index: 1;
}

.nav-menu-box {
  width: 100%;
}

.nav-menu-box ul {

  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 10px;
}

.nav-menu-box ul li {
  padding-top: 8px;
  list-style: none;
  margin-left: 32px;
  height: 40px;
  text-align: center;
}

.nav-menu {
  transition: 0.0005s;
}

.nav-menu:hover {
  color: red;
  border-bottom: 2px solid red;
}

.nav-menu-box ul li Link {}

.nav-img {
  margin-top: -10px;
  width: 45px;
}

.nav-btn-box {
  padding-left: 450px;
}

.nav-btn-profile {
  margin-top: -14px;
  padding-left: 0px;
}

.nav-btn-Sign {
  margin-top: -14px;
}

.nav-btn-SignIn {
  margin-left: -40px;
}

/* Home Page */



/* SignUp */
.main-box-back {
  background-image: linear-gradient(rgba(157, 157, 157, 0.057), rgba(92, 92, 92, 0.32)), url('../Image/SignUpBack.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-box {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-box form {

  padding: 20px 30px;
  width: 50%;
  background: white;
  box-shadow: #00000024 0px 1px 20px 20px;
}

/* SignIn */


/* Profile  */

.profile-box {
  background-color: white;
  margin-top: 2%;
  border-radius: 15px;
}


/* Invoice Create */

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btnFile {
  border: 1px solid rgba(128, 128, 128, 0.178);
  color: rgba(128, 128, 128, 0.514);
  background-color: rgba(230, 230, 230, 0.37);
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;

  width: 200px;
  height: 120px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.btn-logoRemove {
  background-color: black;
  border: black;
  border-radius: 5px;
  color: white;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  margin: 10px 0px;

}

.btn-logoRemove:hover {
  background-color: red;
}

.invoice-title {
  height: 60px;
  text-align: right;
}

.form-invoice {
  text-align: right;

}

.item-th {
  border-radius: 20px;
}

.btn-itemRemove {
  position: relative;
  top: 3px;
  color: red;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
}

.btn-itemRemove:hover {

  color: green;
}

.invoice-Tax {

  height: 40px;
  border: 2px solid rgba(137, 255, 126, 0.275);
  border-radius: 5px;
}


.invoice-Tax-ref {
  background-color: rgba(192, 253, 177, 0.882);
  cursor: pointer;
  font-weight: bold;
}

.invoice-td-Item {
  width: 680px;
}

.invoice-td-qty {
  width: 100px;
}

.invoice-td-rate {
  width: 150px;
}

/* My Invoice */


.myinvoice-table tbody tr td {
  width: 15%;
  padding: 2% 0.3%;
  font-size: 18px;
  /* font-weight: 500; */
  background-color: rgba(240, 248, 255, 0.576);
  color: rgb(42, 42, 42);

}




/* Tablet Css */

@media screen and (max-width: 992px) {

  /* All Page */
  .container-home {
    padding-top: 11%;
    width: 100%;
    z-index: -1;
  }

  /* Nav Bar */

  .nav-menu-box {
    width: 100%;
  }

  .nav-menu-box ul li {
    padding-top: 8px;
    width: 100%;
    font-size: 18px;
    list-style: none;
    margin-left: 15px;
    height: 40px;
    text-align: center;
  }

  .nav-img {
    margin-top: -10px;
    width: 45px;
  }

  .nav-btn-profile {
    margin-top: -14px;
  }

  .nav-myInvo {
    width: 100px;
  }

  .nav-btn-box {
    padding-left: 100px;
  }

  .nav-btn-Sign {
    padding: 0;
    font-size: 10px;
  }

  .nav-btn-SignIn {
    margin-left: 0px;
  }

  /* Invoice */
  .invoice-td-Item {
    width: 300px;
  }

  .invoice-td-qty {
    width: 50px;
  }

  .invoice-td-rate {
    width: 120px;
  }
}